/* Main color overrides */
[data-md-color-scheme="slate"] {
    --md-primary-fg-color: #EAEAEA;
    --md-accent-fg-color: rgb(149, 133, 227);

    --md-primary-color: #EAEAEA;
    --md-primary-bg-color: #191919;
    --md-default-bg-color: #191919;

    --md-default-fg-color: hsla(0, 0%, 100%, 0.90);
    --md-default-fg-color--light: hsla(0, 0%, 100%, 0.70);
    --md-default-fg-color--lighter: hsla(0, 0%, 100%, 0.60);
    --md-default-fg-color--lightest: hsla(0, 0%, 100%, 0.40);

    --md-footer-bg-color: hsla(0, 0%, 10%, 0.87);
    --md-footer-bg-color--dark: hsla(0, 0%, 8%, 1);

    --md-typeset-a-color: var(--md-accent-fg-color);

    --md-code-hl-number-color: rgb(231, 107, 93);
    --md-code-hl-special-color: hsla(340, 83%, 66%, 1);
    --md-code-hl-function-color: hsla(291, 57%, 65%, 1);
    --md-code-hl-constant-color: hsla(250, 62%, 70%, 1);
    --md-code-hl-keyword-color: hsla(219, 66%, 64%, 1);
    --md-code-hl-string-color: var(--md-accent-fg-color);
    --md-code-hl-name-color: var(--md-default-fg-color--light);
    --md-code-hl-operator-color: var(--md-default-fg-color--light);
    --md-code-hl-punctuation-color: var(--md-default-fg-color--light);
    --md-code-hl-comment-color: rgb(55, 161, 108);
    --md-code-hl-generic-color: var(--md-default-fg-color--light);
    --md-code-hl-variable-color: var(--md-default-fg-color--light);
}

/* Indentation. */
div.doc-contents:not(.first) {
    padding-left: 25px;
    border-left: .05rem solid var(--md-typeset-table-color);
}

/* Mark external links as such. */
a.external::after,
a.autorefs-external::after {
    /* https://primer.style/octicons/arrow-up-right-24 */
    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18.25 15.5a.75.75 0 00.75-.75v-9a.75.75 0 00-.75-.75h-9a.75.75 0 000 1.5h7.19L6.22 16.72a.75.75 0 101.06 1.06L17.5 7.56v7.19c0 .414.336.75.75.75z"></path></svg>');
    -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18.25 15.5a.75.75 0 00.75-.75v-9a.75.75 0 00-.75-.75h-9a.75.75 0 000 1.5h7.19L6.22 16.72a.75.75 0 101.06 1.06L17.5 7.56v7.19c0 .414.336.75.75.75z"></path></svg>');
    content: ' ';

    display: inline-block;
    vertical-align: middle;
    position: relative;

    height: 1em;
    width: 1em;
    background-color: currentColor;
}

a.external:hover::after,
a.autorefs-external:hover::after {
    background-color: var(--md-accent-fg-color);
}

/* Fancier color for operators such as * and |. */
.doc-signature .o {
    color: var(--md-code-hl-special-color);
}

/* Fancier color for constants such as None, True, and False. */
.doc-signature .kc {
    color: var(--md-code-hl-constant-color);
}

/* Fancier color for built-in types (only useful when cross-references are used). */
.doc-signature .n>a[href^="https://docs.python.org/"][href*="/functions.html#"],
.doc-signature .n>a[href^="https://docs.python.org/"][href*="/stdtypes.html#"] {
    color: var(--md-code-hl-constant-color);
}