# {{ project_name }} {% if emoji %}{{ emoji }}{% endif %}

<!-- BEGIN_AUTO_BADGES -->

[![Tests](https://github.com/{{ github_org }}/{{ repo_name }}/actions/workflows/tests.yaml/badge.svg)](https://github.com/{{ github_org }}/{{ repo_name }}/actions/workflows/tests.yaml)
[![Pre-Commit](https://github.com/{{ github_org }}/{{ repo_name }}/actions/workflows/pre-commit.yaml/badge.svg)](https://github.com/{{ github_org }}/{{ repo_name }}/actions/workflows/pre-commit.yaml)
[![License](https://img.shields.io/badge/License-Apache%202.0-blue.svg)](https://opensource.org/licenses/Apache-2.0)
[![Python](https://img.shields.io/badge/python-3.11+-blue.svg)](https://www.python.org/downloads/)

<!-- END_AUTO_BADGES -->
