name: Lint, Typecheck, and Test

on:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main, dev ]

jobs:
  ci:
    strategy:
        fail-fast: false
        matrix:
          python-version: ["3.9", "3.10", "3.11", "3.12"]

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Setup Poetry
      uses: abatilo/actions-poetry@v2

    - name: Configure local .venv
      run: |
        poetry config virtualenvs.create true --local
        poetry config virtualenvs.in-project true --local

    - uses: actions/cache@v3
      name: Cache Dependencies
      with:
        path: ./.venv
        key: venv-${{ hashFiles('poetry.lock') }}

    - name: Install dependencies
      run: poetry install --all-extras

    - name: Linting
      run: poetry run ruff -v rigging/

    - name: Typecheck
      run: poetry run mypy -v rigging/

    - name: Tests
      run: poetry run pytest -v