---
name: Lint, Typecheck, and Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  ci:
    strategy:
        fail-fast: false
        matrix:
          python-version: ["3.10", "3.11", "3.12"]

    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@8edcb1bdb4e267140fa742c62e395cd74f332709

    - name: Install Poetry
      uses: abatilo/actions-poetry@b8f6fe29ba2eb78e0d45ccbf41cd14154c4e25b2

    - name: Configure Poetry
      run: |
        poetry config virtualenvs.create true --local
        poetry config virtualenvs.in-project true --local

    - name: Setup Python ${{ matrix.python-version }}
      uses: actions/setup-python@532b046aaf352bab5717122cc0ea52b7f12266a3
      with:
        python-version: ${{ matrix.python-version }}
        cache: "poetry"

    - name: Install package
      run: poetry install --all-extras

    - name: Lint
      run: poetry run ruff check --output-format=github rigging

    - name: Typecheck
      if: always()
      run: poetry run mypy rigging

    - name: Test
      if: always()
      run: poetry run pytest
