---
name: Trigger Docs Update

on:
  push:
    branches: [main]
    paths:
      - "docs/**"
      - ".hooks/generate_docs.py"
      - ".github/workflows/docs-update.yaml"
  workflow_dispatch:

jobs:
  notify-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/create-github-app-token@a8d616148505b5069dccd32f177bb87d7f39123b # v2.1.1
        id: app-token
        with:
          app-id: ${{ vars.UPDATE_DOCS_APP_ID }}
          private-key: ${{ secrets.UPDATE_DOCS_PRIVATE_KEY }}
          owner: "${{ github.repository_owner }}"
          repositories: |
            docs

      - name: Trigger docs repository workflow
        uses: peter-evans/repository-dispatch@ff45666b9427631e3450c54a1bcbee4d9ff4d7c0 # v3.0.0
        with:
          token: ${{ steps.app-token.outputs.token }}
          repository: dreadnode/docs
          event-type: docs-update
          client-payload: |
            {
              "repository": "${{ github.repository }}",
              "ref": "${{ github.ref }}",
              "sha": "${{ github.sha }}",
              "source_dir": "docs",
              "target_dir": "open-source/rigging",
              "nav_target": "Open Source/Rigging"
            }
