---
name: Pre-Commit
on:
  merge_group:
  pull_request:
    branches:
      - main
    types:
      - opened
      - synchronize
      - reopened
  push:
    branches:
      - main
  schedule:
    # Run once a week (see https://crontab.guru)
    - cron: "0 0 * * 0"
  workflow_dispatch:

concurrency:
  group: pre-commit-${{ github.run_id }}
  cancel-in-progress: true

env:
  PYTHON_VERSION: 3.12.6
  TASK_VERSION: 3.38.0

permissions:
  actions: read
  checks: write
  contents: read
  pull-requests: write # Allows merge queue updates
  security-events: write # Required for GitHub Security tab

jobs:
  pre-commit:
    name: Pre-commit
    runs-on: ubuntu-latest
    steps:
      - name: Set up git repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install python dependencies
        run: python3 -m pip install pre-commit

      - name: Setup go-task
        uses: rnorton5432/setup-task@eec4717ae80f02d1614a4fecfa4a55d507768696 # v1.0.0
        if: always()
        with:
          task-version: ${{ env.TASK_VERSION }}

      - name: Run pre-commit
        run: export TASK_X_REMOTE_TASKFILES=1 task run-pre-commit -y || true
