---
name: Build and Publish

on:
  push:
    tags: ["v*"]

jobs:
  build-and-publish:
    name: Build and Publish
    environment: protected
    permissions:
      contents: read
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Setup Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548
        with:
          python-version: "3.14"

      - name: Install Poetry
        uses: abatilo/actions-poetry@b8f6fe29ba2eb78e0d45ccbf41cd14154c4e25b2

      - name: Configure Poetry
        run: |
          poetry config virtualenvs.create true --local
          poetry config virtualenvs.in-project true --local

      - name: Install package
        run: poetry install

      - name: Validate version
        run: |
          TAG_VERSION=${GITHUB_REF#refs/tags/v}
          POETRY_VERSION=$(poetry version -s)

          if [ "$TAG_VERSION" != "$POETRY_VERSION" ]; then
            echo "Tag ($TAG_VERSION) doesn't match pyproject.toml ($POETRY_VERSION)"
            exit 1
          fi

      - name: Build package
        run: poetry build

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@03f86fee9ac21f854951f5c6e2a02c2a1324aec7
